@import 'bootstrap/dist/css/bootstrap';

.errors {
  list-style-type: none;
}

.alert-danger {
  padding-bottom: 10px;
}
@media screen and (max-width: 782px) {
  .btn-success {
    margin-top: 10px;
    width: 100% !important;
  }
}

.no-padding {
  padding: 0 !important;
}

.block {
  float: left !important;
  width: 50% !important;
}

.info {
  padding-top: 5px;
}
 .right {
   float: right !important;
 }
